/* you can have a mini reset or a full-on reset */
/* @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: peachpuff;
}

/* you need to resize the images in the large container to cover the full screen */
/*! we need media queries! */
/* you can approach the design from a desktop or mobile point of view. If you start from mobile, you need to scale up to desktop. If you start as desktop, you need to scale down to mobile */
